@keyframes nav-animation{
    from{
        width: 100%;
    }
    to{
        width: 75%;
    }
}


body{
    font-family: "Inter", sans-serif;
    background-color: rgb(0,0,0);
    color: white;
    background-image: linear-gradient(to bottom, #141414, #222222, #141414);

}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;

}

/* style the banner section  */
.container{
    width: 100%;
    height: 100vh;
    border: 1px solid black;
}

/* style the header section  */
.nav-container{
    width: 75%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-top: 45px;
    align-items: center;
    animation: nav-animation 0.4s ease-out 0s 1  ;
}

.list-parent{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 28px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 39px;
    padding: 4px;
}
.list-parent a{
    color:#FFFFFF;
    font-size: 1.1rem;
    font-weight: 200;
    transition: transform 0.1s ease-out;
}
.list-parent a:hover{
    color: #f15d0e;
    font-size: 1.15rem;
    text-decoration: underline;
}

.houndsec{
    font-size: 2rem;
    font-weight: 800;
    color: #ff4327;
}
.btn-primary{
    border-radius: 42px;
    background-color: #e6533c;
    padding: 8px 20px 8px 20px;
}
.btn-primary:hover{
    background-color: #373737;
}

/* style the main section  */
.main-content{
    width: 75%;
    min-height: 200px;
    margin: 0 auto;
    text-align: center;
    margin-top: 110px;

}


.info h1{
    font-size: 3rem;
    display: inline-block;
}

.info h4{
    color:  #eaedf0;
    font-size: 1.5rem;
    margin: 22px 0 35px 0;
    font-family: miama;
    font-style: italic;
}

.eye{
    color: #fa3b1e;
}

/* style the form  */

.field{
    width: 70%;
    height: 85px;
    margin: 0 auto;
    text-align: left;

    border: 1px solid #060606;
    display: flex;
    gap: 2px;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background-color: #1a1a1a;

}
.inp1{
    width: calc(100% - 70px - 40px);
}
#domain{
    width: 100%;
    background-color: #383737;
    color: white;
    border-radius: 8px;
    font-size: 1.02rem;
    padding-left: 15px;
    border: none;
    height: 40px;
}

.inp2{
    width: 70px;
    height: 40px;
    border-radius: 8px;
}

#sub-btn{
    width: 100%;
    height: 100%;
    background-color:#fa3b1e ; 
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: transform 0.1s ease-out ;
}
#sub-btn:hover{
    transform: scale(1.06) translateX(3px);
    background-color: #da4c00; 

}

/* style the hamburger menu  */
.ham-menu{
    font-size: 1.5rem;
    display: none;
}


/* responsive tablet devices */

@media screen  and (max-width:992px) {
    .houndsec{
        font-size: 1.8rem;
       }
    .main-content{
        width: 90%;
    }
    .list-parent{
        display: none;
    }
    .info h1{
        font-size: 2.7rem;
    }
    .info h4{
        font-size: 1.4rem;
    }
    .ham-menu{
        display: block;
        font-size: 1.4rem;

    }
    .field{
        width: 80%;
        margin: 0 auto;
    }
    #domain{
        font-size: 0.9rem;
        padding-left: 8px;
    }
    #sub-btn{
        font-size: 0.9rem;
    }

}


/* responsive mobile devices  */

@media screen and (max-width:576px) {
    .container{
    }
   .houndsec{
    font-size: 1.6rem;
   }
    .list-parent{
        display: none;
    }
    .ham-menu{
        display: block;
        font-size: 1.2rem;
    }

    .main-content{
        width: 90%;
        margin-top: 100px;
    }
    .info h1{
        font-size: 2.5rem;
    }
    .info h4{
        font-size: 1.1rem;
    }
    .field{
        width: 95%;
        height: 70px;
    }
    #domain{
        font-size: 0.8rem;
        padding-left: 4px;
    }
    #sub-btn{
        font-size: 0.8rem;
    }

}